<!DOCTYPE HTML>
<head>
<h1>Star Wars</h1>
<h2>People</h2>
<ul style="list-style-type: none">
  <% @people.each do |person| %>
  <li>
    <strong><%= person["name"] %></strong>
    </li>
    <p>
      Birth Year: <%= person["birth_year"] %><br>
      Gender: <%= person["gender"] %><br>
    </p>
  <% end %>
</ul>
<%= link_to 'Planets', planets_path %><br>
<%= link_to 'Species', species_path %>