<!DOCTYPE HTML>
<head>
<h1>Star Wars</h1>
<h2>Planets</h2>
<ul style="list-style-type: none">
  <% @planets.each do |planet| %>
  <b><li><%= planet["name"] %></li></b>
  <p>
    Climate: <%= planet["climate"] %><br>
    Terrain: <%= planet["terrain"] %><br>
    Population: <%= planet["population"] %><br>
  </p>
  <% end %>
</ul>
<%= link_to 'People', people_path %><br>
<%= link_to 'Species', species_path %>