<h1>Star Wars</h1>
<h2>Planets</h2>
<ul>
  <% @planets.each do |planet| %>
  <b><li><%= planet["name"] %></li></b>
  <p>
    <%= planet["climate"] %><br>
    <%= planet["terrain"] %><br>
    <%= planet["population"] %><br>
  </p>
  <% end %>
</ul>
<%= link_to 'People', people_path %><br>
<%= link_to 'Species', species_path %>