<!DOCTYPE HTML>
<head>
<h1>Star Wars</h1>
<h2>Species</h2>
<ul style="list-style-type: none">
  <% @species.each do |specie| %>
  <b><li><%= specie["name"] %></li></b>
  <p>
    Classification: <%= specie["classification"] %><br>
    Designation: <%= specie["designation"] %><br>
    Language: <%= specie["language"] %><br>
  </p>
  <% end %>
</ul>
<%= link_to 'People', people_path %><br>
<%= link_to 'Planets', planets_path %>